// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin: 0px;
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in-out;
  }

  .carousel {
    overflow: hidden;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;

     .slide-container{
         width: 100%;
         display: flex;
         flex-direction: row-reverse;

         .col-50{
             width: 50%;
             position: absolute;
             left: 0px;
             top: 0px;
             z-index: -1;
         }
         .col-50.image{
             right: 0px;
             left: auto;
         }
         .col-50.album-detail.test{
            bottom: 0px;
            top: auto;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
     }
    }

    .controls{
        width: 100%;
        position: absolute;

        .next {
            position: absolute;
            right: 0px;
        }
    }

}

